
.header {
    padding: 34px 0;
}

.header_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header_log_in_form_container form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: calc(-13px * 2);
}

.header_log_in_form_container .forgot_password_link {
    margin-top: 13px;
    display: block;
}

.header_log_in_form_container .input_container {
    margin-right: 13px;
}


.header_log_in_form_container .input_container input:invalid + .invalid_message {
    /*display: block;*/
    opacity: 1;
}